{
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": true,
    "spaceBeforeFunctionParen": false,
    "prettier/prettier": [
        "error",
        {
          "singleQuote": true,
          "parser": "flow"
        }
    ]
}